txn_handler.dtd

<!ELEMENT txn_handler (mysql, general)>
<!ELEMENT mysql (hostname, username, password, database, port)>
<!ELEMENT hostname (#PCDATA)>
<!ELEMENT username (#PCDATA)>
<!ELEMENT password (#PCDATA)>
<!ELEMENT database (#PCDATA)>
<!ELEMENT port (#PCDATA)>
<!ELEMENT general (port)>
<!ELEMENT logging (enabled_levels)>
<!ELEMENT enabled_levels (#PCDATA)>

